# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Distribution / packaging
*.whl
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
examples/worker/tasks/stdout/*
logs/*
draft/*